html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: #ddd;
    padding: 50px;
}

canvas {
    background: black;
    margin: 0 auto;
    display: block;
}